<md-toolbar color="primary">

  <a md-button routerLink="/">Match App</a>
  <span class="fill-remaining-space"></span>
  <button *ngIf="isLoggedIn()" md-button [mdMenuTriggerFor]="appMenu">
    <md-icon>menu</md-icon>
    Menu
  </button>

</md-toolbar>

<md-menu #appMenu="mdMenu">
  <button md-menu-item routerLink="/register"> Register</button>
  <button md-menu-item routerLink="/matches"> Matches</button>
  <button md-menu-item routerLink="/help"> Help</button>
  <button *ngIf="isLoggedIn()" md-menu-item routerLink="/" (click)="logout()"> Logout </button>
</md-menu>
