<div class="split-container">
  <md-card>
    <md-card-title>User Details</md-card-title>
    <md-card-content>
      <md-list>
        <h3 md-subheader>Contact Info</h3>
        <md-list-item>
          <p>
            <strong> Name: &nbsp;</strong>
            {{ consolidatedUser?.user.firstName }} {{ consolidatedUser?.user.lastName }}
          </p>
        </md-list-item>

        <md-list-item>
          <p>
            <strong> Username: &nbsp;</strong>
            {{consolidatedUseruser?.user.username }}
          </p>
        </md-list-item>

        <md-list-item>
          <p>
            <strong> Email: &nbsp;</strong>
            {{ consolidatedUser?.contactInfo.email }}
          </p>
        </md-list-item>

        <md-list-item>
          <p>
            <strong> Phone Number: &nbsp;</strong>
            {{ consolidatedUser?.contactInfo.phoneNumber }}
          </p>
        </md-list-item>

        <md-list-item>
          <p>
            <strong> Address: &nbsp;</strong>
            <app-address [address]="consolidatedUser?.address"></app-address>
          </p>
        </md-list-item>

        <md-divider></md-divider>

        <h3 md-subheader>Interests</h3>
        <md-list-item>
      <app-interest-list [interests]="consolidatedUser?.interests"></app-interest-list>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>
