<div class="split-container">
  <md-card>
    <md-card-title>User Details</md-card-title>
    <md-card-content>
      <md-list>
        <h3 md-subheader>Contact Info</h3>
        <md-list-item>
          <p>
            <strong> Name: &nbsp;</strong>
            {{ user.user.firstName }} {{ user.user.lastName }}
          </p>
        </md-list-item>

        <md-list-item>
          <p>
            <strong> Username: &nbsp;</strong>
            {{ user.user.username }}
          </p>
        </md-list-item>

        <md-list-item>
          <p>
            <strong> Email: &nbsp;</strong>
            {{ user.contactInfo.email }}
          </p>
        </md-list-item>

        <md-list-item>
          <p>
            <strong> Phone Number: &nbsp;</strong>
            {{ user.contactInfo.phoneNumber }}
          </p>
        </md-list-item>

        <md-list-item>
          <p>
            <strong> Address: &nbsp;</strong>
            {{ user.address.streetLine1 }} &nbsp;
            {{ user.address.streetLine2 }} &nbsp;
            {{ user.address.city }} &nbsp;
            {{ user.address.state }}, &nbsp;
            {{ user.address.zipCode }}
          </p>
        </md-list-item>

        <md-divider></md-divider>

        <h3 md-subheader>Interests</h3>
        <md-list-item>
          <strong md-line class="interest">Placeholder</strong>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>
</div>
