<p class="split-container">
  <strong class="flex-1">Name:</strong>
  <span class="flex-1" style="text-align: right">
    {{ user?.firstName }} {{ user?.lastName }}
  </span>
</p>
<p class="split-container">
  <strong class="flex-1">Username:</strong>
  <span class="flex-1" style="text-align: right">
    {{ user?.userName }}
  </span>
</p>
<p class="split-container">
  <strong class="flex-1">Email:</strong>
  <span class="flex-1" style="text-align: right">
    {{ contactInfo?.email }}
  </span>
</p>
<p class="split-container">
  <strong class="flex-1">Phone Number:</strong>
  <span class="flex-1" style="text-align: right">
    {{ contactInfo?.phoneNumber }}
  </span>
</p>
