<p class="split-container">
  <strong class="split-container-item">Name:</strong>
  <span class="split-container-item">
    {{ user?.firstName }} {{ user?.lastName }}
  </span>
</p>
<p class="split-container">
  <strong class="split-container-item">Username:</strong>
  <span class="split-container-item">
    {{ user?.username }}
  </span>
</p>
<p class="split-container">
  <strong class="split-container-item">Email:</strong>
  <span class="split-container-item">
    {{ contactInfo?.email }}
  </span>
</p>
<p class="split-container">
  <strong class="split-container-item">Phone Number:</strong>
  <span class="split-container-item">
    {{ contactInfo?.phoneNumber }}
  </span>
</p>
