<md-card>
  <md-card-title>Register</md-card-title>

  <md-card-content>
    <form [formGroup]="regForm" class="register-form" (submit)="register()">

      <div class="form-row">
        <md-input-container>
          <input type="email" mdInput placeholder="Email Address" formControlName="email">
        </md-input-container>
      </div>

      <div class="form-row">
        <md-input-container>
          <input mdInput placeholder="Username" formControlName="username">
        </md-input-container>
      </div>

      <div class="form-row">
        <md-input-container>
          <input type="password" mdInput placeholder="Password" formControlName="password">
        </md-input-container>
        <md-input-container>
          <input type="password" mdInput placeholder="Confirm Password">
        </md-input-container>
      </div>

      <div class="form-row">
        <md-input-container>
          <input mdInput placeholder="First Name" formControlName="firstName">
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Last Name" formControlName="lastName">
        </md-input-container>
      </div>

      <div class="form-row">
        <md-input-container>
          <input mdInput placeholder="Address" formControlName="streetLine1">
        </md-input-container>
      </div>
      <div class="form-row">
        <md-input-container>
          <input mdInput placeholder="Address Line 2" formControlName="streetLine2">
        </md-input-container>
      </div>
      <div class="form-row">
        <md-input-container>
          <input mdInput placeholder="City" formControlName="city">
        </md-input-container>

        <app-state-picker [control]="stateControl"></app-state-picker>

        <md-input-container>
          <input mdInput #zipCode maxlength="5" placeholder="ZIP Code" formControlName="zipCode">
          <md-hint align="end">{{ zipCode.value.length }} / 5</md-hint>
        </md-input-container>
      </div>
    </form>
  </md-card-content>

  <md-card-actions>
    <button md-button type="submit" (click)="register()">Register</button>
  </md-card-actions>
</md-card>
